* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    padding-top: 20%;
}
svg{
    transition: all 0.3s 0.1s ease-in-out;
}
svg:hover {
    transform: scale(1.5);
}
svg:active #check-mark{
    stroke: #55D21A;
    animation: draw;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes draw{
    from {stroke-dasharray: 500; stroke-dashoffset: 500;}
    to {stroke-dashoffset: 0;}
}
